Repository Omnisaude/app-austa-kemj9m, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ios-team, @mobile-security, @android-team, @web-team, @devops-team, @api-team, @qa-team, @technical-writers, @legal-team

.github/CODEOWNERS:

# Syntax: path/to/code @username1 @username2

# Global owners - Project leads have oversight over all changes
* @project-leads

# Backend Services
src/backend/ @backend-team
src/backend/auth-service/ @backend-team @security-team
src/backend/health-records/ @backend-team @security-team
src/backend/database/ @backend-team @security-team

# Mobile Applications
src/ios/ @ios-team @mobile-security
src/android/ @android-team @mobile-security

# Web Application
src/web/ @web-team

# Infrastructure and DevOps
infrastructure/ @devops-team @security-team
.github/workflows/ @devops-team @security-team

# Security-Critical Components
src/**/security/ @security-team
src/**/auth/ @security-team
src/**/encryption/ @security-team

# API Layer
src/**/api/ @api-team @security-team

# Testing and QA
src/**/test/ @qa-team

# Documentation
docs/ @project-leads @technical-writers

# Configuration Files
*.config.js @devops-team
*.config.ts @devops-team
*.json @devops-team

# Security Policy Files
SECURITY.md @security-team
**/security.config.* @security-team

# Dependency Management
package.json @devops-team @security-team
yarn.lock @devops-team @security-team
pom.xml @devops-team @security-team
build.gradle @devops-team @security-team

# Environment Configurations
.env.* @devops-team @security-team
**/config/*env* @devops-team @security-team

# CI/CD Pipeline Configurations
.github/workflows/*.yml @devops-team @security-team
**/pipeline/*.yml @devops-team @security-team

# Database Migrations and Schemas
**/migrations/ @backend-team @security-team
**/schemas/ @backend-team @security-team

# Healthcare Data Processing Components
src/**/health-data/ @backend-team @security-team
src/**/medical-records/ @backend-team @security-team

# Compliance and Audit Components
src/**/compliance/ @security-team @legal-team
src/**/audit/ @security-team @legal-team

# Third-party Integrations
src/**/integrations/ @backend-team @security-team

# Monitoring and Logging
src/**/monitoring/ @devops-team @security-team
src/**/logging/ @devops-team @security-team

version
  src/web/package.json
Owners: @devops-team, @security-team

trying to remove @accessibility/react-a11y
  src/web/package.json
  src/web/src/components/claims/ClaimsList.tsx
Owners: @devops-team, @security-team, @web-team

removig one more inexisting dependency
  src/web/package.json
  src/web/src/app/dashboard/page.tsx
Owners: @devops-team, @security-team, @web-team

removig one more inexisting dependency
  src/web/cypress.config.ts
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency
  src/web/cypress/support/e2e.ts
  src/web/package.json
Owners: @web-team, @devops-team, @security-team

removig one more inexisting dependency
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency version
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency version
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency version
  src/web/package.json
Owners: @devops-team, @security-team

removig one more inexisting dependency
  src/web/package.json
  src/web/src/hooks/useClaims.ts
Owners: @devops-team, @security-team, @web-team

removig one more inexisting dependency
  src/web/__tests__/components/virtual-care/VideoConsultation.test.tsx
  src/web/package.json
Owners: @web-team, @devops-team, @security-team

removig one more inexisting dependency
  src/web/package.json
Owners: @devops-team, @security-team

Erros atras de erros tentando corrigir e não dando certo
  src/backend/shared/middleware/logger.ts
  src/web/next.config.cjs
  src/web/package.json
  src/web/src/app/admin/analytics/page.tsx
  src/web/src/app/admin/compliance/page.tsx
  src/web/src/app/admin/dashboard/page.tsx
  src/web/src/app/admin/providers/page.tsx
  src/web/src/app/admin/users/page.tsx
  src/web/src/app/auth/login/page.tsx
  src/web/src/app/auth/register/page.tsx
  src/web/src/app/claims/[claimId]/page.tsx
  src/web/src/app/claims/submit/page.tsx
  src/web/src/app/dashboard/layout.tsx
  src/web/src/app/dashboard/page.tsx
  src/web/src/app/error.tsx
  src/web/src/app/health-records/[recordId]/page.tsx
  src/web/src/app/health-records/page.tsx
  src/web/src/app/marketplace/page.tsx
  src/web/src/app/not-found.tsx
  src/web/src/app/page.tsx
  src/web/src/app/virtual-care/[sessionId]/page.tsx
  src/web/src/app/virtual-care/page.tsx
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/Loader.tsx
  src/web/src/components/common/Modal.tsx
  src/web/src/components/dashboard/QuickActions.tsx
  src/web/src/components/health-records/DocumentViewer.tsx
  src/web/src/components/health-records/Timeline.tsx
  src/web/src/components/marketplace/ProductGrid.tsx
  src/web/src/lib/api/auth.ts
  src/web/src/lib/utils/encryption.ts
  src/web/tsconfig.json
Owners: @backend-team, @web-team, @devops-team, @security-team, @legal-team, @api-team
